@import '../../assets/styles/colors';

.Header {
  background: $dark-2;
  color: $font-1;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  img {
    max-width: 55px;
  }

  nav {
    display: inline-block;

    ul {
      margin: 0;
      li {
        display: inline-block;
        color: $font-1;
        * {
          font-size: 1.05em;
          border: none;
          padding: 10px 30px;
          color: $font-1;
          text-decoration: none;
          background: none;

          &:hover {
            color: $primary;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.LoginButton {
  background: $primary !important;
}
